<div class="container">
  <div class="col-sm-9 panel" style="background-color: rgb(73, 73, 73)">

    <body style="border:1px solid;width:98%; padding: 2% 2% 3% 2% ;" class=" panel">
      <div class="row" style="text-align:center">
        <h2>new blog</h2>
      </div>
      <p></p>
      <table class="table table-hover panel">
        <thead style="font-size:20px">
          <tr>
            <th>Stt</th>
            <th>title</th>
            <th>content</th>
            <th>status</th>
            <th  style="text-align:center">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of blogs; let i =index">
            <td><strong>{{i+1}}</strong></td>
            <td>{{item.title}}</td>
            <td>{{item.content}}</td>
            <td>{{item.status ? 'da xong' : 'chua xong'}}</td>
            <th  style="text-align:center">
              <button (click)="onDoneBlog(item)" class="btn btn-primari" style="margin-right:1%"> Done</button>
              <button [routerLink]="['/edit',item.id]" class="btn btn-success" style="margin-right:1%">
                Edit</button>
              <button (click)="onDeleteBlog(item.id)" class="btn btn-danger"> Delete</button>
            </th>
          </tr>
        </tbody>
      </table>
    </body>
  </div>
  <div class="col-sm-3 panel" style="background-color: rgb(187, 182, 255) ;border : 1px solid ; padding-top:2%">
    <form [formGroup]="blogForm" (ngSubmit)="onAddBlog()" class="row justify-content-md-center">
      <div>
        <h4 style="text-align:center">Add new blog</h4>
      </div>
      <hr>
      <div class="col-md-12">
        <div class="form-group row">
          <label for="example-email-input" style="margin-right:2%" class="col-md-2 col-form-label">title:</label>
          <div class="col-md-12">
            <input type="text" formControlName="title" id="example-email-input" class="form-control"
              style="margin-bottom:2%">
            <span style="font-size:14px" class="label label-danger"
              *ngIf="blogForm.controls.title.touched && blogForm.hasError('required','title')">
              title: k dc de trong
            </span>
            <span style="font-size:14px" class="label label-danger"
              *ngIf="blogForm.controls.title.touched && blogForm.hasError('minlength','title')">
              title: k dc it hon 2 ki tu
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label style="margin-right:2%" for="example-url-fb" class="col-md-2 col-form-label">content:</label>
          <div class="col-md-12">
            <textarea style="height:150px; margin-bottom:2%" type="text" id="example-url-fb" class="form-control"
              formControlName="content"></textarea>
            <span style="font-size:14px" class="label label-danger"
              *ngIf="blogForm.controls.content.touched && blogForm.hasError('required','content')">
              content: k dc de trong
            </span>
            <span style="font-size:14px" class="label label-danger"
              *ngIf="blogForm.controls.content.touched && blogForm.hasError('maxlength','content')">
              content: k dc nhieu hon 20 ki tu
            </span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-10 offset-md-2">
            <button [disabled]="blogForm.invalid" type="submit" class="btn btn-primary">Add new blog</button>
          </div>
        </div>
      </div>
    </form>
    <pre>
         {{blogForm.value| json}}
   </pre>
  </div>
</div>