<div class="container" style="background-color:rgb(73, 73, 73)">
  <div class="row">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div style="padding-left:3%" class="navbar-header" class="col-sm-8">
          <a class="navbar-brand" style="color:white;font-weight: bold" routerLink="">list awesome </a>
          <a class="navbar-brand" style="color:white;font-weight: bold" routerLink="add">add awesome</a>
        </div>
        <div class="col-sm-4" style="padding-top:1%">
          <div class="col-sm-4" style="color:white;padding: 0% 0% 2% 20%">
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>