<div class="container" style="background-color:rgb(73, 73, 73)">
  <div class="row">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div style="padding-left:3%" class="navbar-header" class="col-sm-8">
          <a class="navbar-brand" style="color:white" routerLink="">new blogs</a>
          <a class="navbar-brand" style="color:white" routerLink="blogdone"> blog done</a>
        </div>
        <div class="col-sm-4" style="padding-top:1%">
          <div class="col-sm-4" style="color:white;padding: 0% 0% 2% 20%">
            <h4>search</h4>
          </div>
          <div class="col-sm-8">
              <input  [value]="" (keyup)="onChange($event.target.value)" type="text" class="form-control"
            placeholder="Search">
          </div>
        
        </div>
        <!-- <button  class="btn btn-default">Submit</button> -->

      </div>
    </nav>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>