#main {
    position: relative;
    background-color:white;
    position: fixed;
    height: 100%;
    width: 100%;
}

#head {
    position: relative;
    position: fixed;
    height: 20%;
    width: 99%;
}

#head1 {
    position: absolute;
    margin: 0;
    top:0;
    height: 65%;
    width: 100%;
}

#head2 {
    position: absolute;
    border: 1px solid black;
    bottom:0;
    height: 34%;
    width: 100%;
    font-size: 30px;
}

#logo {
    border: 1px solid black;
    right: 0;
    top: 0;
    margin:0;
    height: 95%;
    width: 27%;
    text-align: center;
} 

 #banner {
    position: absolute;
    border: 1px solid black;
    right: 0;
    top: 0;
    margin:0;
    height: 95%;
    width: 71%;
    text-align: center;
    font-size: 80px;
} 

#body {
    position: relative;
    background-color:white;
    top:21%;
    height: 70%;
    width: 99%;
} 

#col1 {
    position: absolute;
  
    height: 100%;
    width: 27%;
} 

#board1_col1 {
    position: absolute;
    border: 1px solid black;
    height: 40%;
    width: 100%;
    font-size: 20px;
    text-align: center;
} 

#board2_col1 {
    position: absolute;
    border: 1px solid black;
   top:41%;
    height: 40%;
    width: 100%;
} 


#col2 {
    position: absolute;
    border: 1px solid black;
    left:29%;
    height: 100%;
    width: 50%;
} 

#headBody {
    position: absolute;
    height: 10%;
    width: 100%;
    font-size: 25px;
    text-align: center;
} 

#mainBody {
    position: absolute;
    top: 10%;
    height: 69%;
    width: 93.7%;
    font-size: 15px;
    padding: 20px;
} 



#col3 {
    position: absolute;
    border: 1px solid black;
    height: 100%;
    width: 20%;
    right:0;
} 


#end {
    position: relative;
    background-color:white;
    top:22%;
    height: 70%;
    width: 99%;
} 

#rowEnd {
    position: absolute;
    border: 1px solid black;
    height: 8%;
    width: 100%;
    
} 
#leftEnd {
    position: absolute;
    height: 100%;
    width: 49%;
    padding-top: 6px;
    padding-left: 10px;
    font-size: 20px;
} 
#rightEnd {
    position: absolute;
    height: 100%;
    right:0;
    width: 49%;
    text-align: right;
    font-size: 23px;
    padding-top:4px;
    padding-right: 10px;
} 

