<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-sm-3">
                <img class="title" src="{{congiap.image}}" style="width:100%">
            </div>
            <div class="col-sm-9">
                <div class="name">{{congiap.name}}</div>
                <div class="name">{{congiap.detail}}</div>
            </div>
        </div>
        <div class="wrapper">
            <div><a class="example-1" routerLink=''> Home</a></div>
        </div>
    </div>
</div>
<div class="circle1"></div>
<div class="circle2"></div>
<div class="circle3"></div>
<div class="circle4"></div>
<div class="circle5"></div>
<div class="circle6"></div>
<div class="circle7"></div>
<div class="circle8"> </div>