<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<h2>My Heroes</h2>
<table border=2px style="font-size:40px;background-color:pink;color:red"  class="table table-striped">
  <tr>
    <td>
      <strong>id</strong>
    </td>
    <td>
      <strong>name</strong>
    </td>
    <td>
      <strong>image</strong>
    </td>
  </tr>
  <tr *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)"
    style="width:200px;height:40px">
    <td>
      {{hero.id}}
    </td>
    <td>
      {{hero.name}}
    </td>
    <td>
      <img src="{{hero.image}}" style="width:70px;height:70px">
    </td>
  </tr>
</table>