<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header"  [routerLinkActiveOptions]="{exact : true}" routerLinkActive="active">
        <a class="navbar-brand" routerLink="/" >home</a>
      </div>
      <ul class="nav navbar-nav" [routerLinkActiveOptions]="{exact : true}" routerLinkActive="active">
        <li><a routerLink="/courses">courses list</a></li>
        <li><a routerLink="/coursesComplete">courses complete</a></li>
       
      </ul>
    </div>
  </nav>
  <div>
      <router-outlet></router-outlet>
  </div>