<div class="container" style="border: 3px solid black">
    <div class="row" style="background-color: #242424; height: 120px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-12  socialMedia">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                    </ul>

                    <ul class="language">
                        <li><a href="#" class="arabic">عربي</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#" class="kurdish">کوردی</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#" class="kurdish">English</a></li>
                    </ul>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-2 text-right " id="title">
                    <h2 class="align-middle"><a  style="color: #B79D49; margin-top: 40px" routerLink="">12 Cung Hoàng Đạo</a></h2>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <img src="https://app.sulicourt.com/images/cis-logo.svg" alt="logo" class="img img-responsive"
                        width="50%" id="logo">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color:#818181">
        <div class="row" style="margin-top:5%">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>